
<h5>Main</h5>

<a href="/admin" class="item">
  <i class="fa fa-home"></i>
  Home
</a>

<a href="#panels_collapse" class="item" data-toggle="collapse">
  <i class="fa fa-cubes"></i>
  Panels
</a>
<div id="panels_collapse" class="collapse">
  <a href="/admin/panels/new" class="item item-sub">
    <i class="fa fa-plus"></i>
    New
  </a>
</div>


<h5>Administration</h5>
<a href="/admin/userss" class="item">
  <i class="fa fa-user"></i>
  Users
  <span class="label label-success pull-right">3</span>
</a>
<a href="#" class="item">
  <i class="fa fa-commenting"></i>
  Forums
  <span class="label label-danger pull-right">19</span>
</a>
<a href="#" class="item">
  <i class="fa fa-users"></i>
  Groups
</a>
<a href="#" class="item">
  <i class="fa fa-file-text"></i>
  Pages
</a>

<h5>Configuration</h5>
<a href="#" class="item">
  <i class="fa fa-sliders"></i>
  Preferences
</a>
<a href="#" class="item">
  <i class="fa fa-cog"></i>
  Settings
</a>