<div class="content-padded row">
  <div class="col-md-3">
    <div class="module">
      <div class="text">
        <h2>Overview</h2>
        <h3>Subcategory</h3>
      </div>
    </div>
  </div>
</div>