<!DOCTYPE html>
<html>
<head>
  <title>Steve CMS</title>

  <!-- Font -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Styles -->
  <%= stylesheet_link_tag "application", media: "all" %>

  <!-- Icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- Scripts -->
  <%= javascript_include_tag "application" %>

  <!-- Protect -->
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
